1. Find out all the types of errors that we have encountered in our lecture and why? also include the examples.

In [6]:
Error 1: Name error based on Case Sensitive. 
  Why: Python identifies the name based on upper case or lower case
"""
"Example: "
Ten =10 
ten = 20
print (TEN)

NameError: name 'TEN' is not defined

In [38]:
"""
Error 2: string with key words cannot be called (Type Error)
Why: Key words cannot be used as variable names.
"""
" Example:"
print = 10
print (print)
del print

TypeError: 'int' object is not callable

In [8]:
"""
Error 3: Value is missing for variable. 
Why: System cannot assign automatically without any userinput.
"""
a,b,c,d = 10, 11, 12
print (d)

ValueError: not enough values to unpack (expected 4, got 3)

In [10]:
"""
Error 4: unsupported operand type(s) while using User Input option
Why: entered Input always gives you string value but not any other type so we cannot add or perform any operation. 
"""
"Example"
sub_1 = input("Enter your subject 1")
sub_marks_1 = input("Enter your marks of subject 1")
sub_2 = input("Enter your subject 2")
sub_marks_2 = input("Enter your marks of subject 2")
Total_mark_out_of_100 = sub_marks_1 - sub_marks_2
print (f"Total marks of all subjects out of 200 is: {Total_mark_out_of_100}")

Enter your subject 1 Maths
Enter your marks of subject 1 95
Enter your subject 2 Stats
Enter your marks of subject 2 95

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [12]:
"""
Error 5: Value error due to misapplying the type conversion.
Why: conversion cannot be proceeded due to different variable types
"""
"Example"
A = input("Enter value of A: ")
int(A)

Enter value of A:  20.2

ValueError: invalid literal for int() with base 10: '20.2'

2. Take the input A & B and print their sum, mul, div, squares of nos.

In [49]:
C = float(input("Enter value of C: "))
D = float(input("Enter value of D: "))
sum_c_d = C+D
mul = C*D
div_c_d = C/D
div_d_c = D/C
c_squares = C*C
d_squares = D*D
print(f"Sum of C & D is {sum_c_d}")
print(f"Product of C & D is {mul}")
print(f"C divided by D is {div_c_d}")
print(f"D divided by C is {div_d_c}")
print(f"C sqaure is {c_squares}")
print(f"D sqaure is {d_squares}")

Enter value of C:  10.256
Enter value of D:  85.256

Sum of C & D is 95.512
Product of C & D is 874.385536
C divided by D is 0.12029651872009009
D divided by C is 8.312792511700469
C sqaure is 105.185536
D sqaure is 7268.585536

3. how many reserve key words are there why we should not use them as variable name?

In [52]:
help("keywords")
"keywords have specific meaning which is fundamentals in python language."

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

'keywords have specific meaning which is fundamentals in python language.'

4. Create mail id's with the user inputs in the following format- lastname.firstname@gmail.com

In [55]:
u1_FN = input("Enter user1 first name")
u1_LN = input("Enter user1 last name")
u2_FN = input("Enter user2 first name")
u2_LN = input("Enter user2 last name")
u3_FN = input("Enter user3 first name")
u3_LN = input("Enter user3 last name")
print(f"{u1_FN}.{u1_LN}@gmail.com")
print(f"{u2_FN}.{u2_LN}@gmail.com")
print(f"{u3_FN}.{u3_LN}@gmail.com")

Enter user1 first name bhanu
Enter user1 last name prakash
Enter user2 first name neelima
Enter user2 last name prakash
Enter user3 first name shiva
Enter user3 last name parvathy

bhanu.prakash@gmail.com
neelima.prakash@gmail.com
shiva.parvathy@gmail.com

5. Try to point the following lines -
- Hi I'am Sunny 
- My address is 22/3
- I earn $20 daily

In [58]:
print("""Hi I'am Sunny
My address is 22/3
I earn $20 daily""")

Hi I'am Sunny
My address is 22/3
I earn $20 daily

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [4]:
first_name = input("Enter you first name")
last_name = input("Enter you last name")
home_address = input("Enter your full address")
dob = input("Enter you date of birth")
blood_group = input("Enter your blood group")
branch = input("Enter your branch")
print (f"your mail id is: {first_name}.{last_name}@aicollege.com ")

Enter you first name Bhanu
Enter you last name Prakash
Enter your full address vizag
Enter you date of birth 30 feb 95
Enter your blood group A+ve
Enter your branch marine

your mail id is: Bhanu.Prakash@aicollege.com

7. Convert the following:
- "22.4" into integer
- "22" into complex number

In [64]:
x = "22.4"
print(type(number))
int_number = int(x)
print(type(int_number))

<class 'str'>

ValueError: invalid literal for int() with base 10: '22.4'

In [65]:
y = "22.4"
print(type(number))
complex_number = complex(y)
print(type(complex_number))

<class 'str'>
<class 'complex'>